build/
.cache/
.DS_Store
.cmake
CMakeCache.txt
CMakeFiles
MyProject
MyProject.exe
*.a
*.o
*.d
*.so
*.dll
*.dylib
*.cmake
*.pc
*.spv
*.spv
*.obj
*.mtl
/Makefile
/include/FileDialogs/lunasvg/Makefile
/include/FileDialogs/lunasvg/plutovg/Makefile
/include/FileDialogs/lunasvg/examples/svg2png
/include/FileDialogs/lunasvg/examples/Makefile
include/FileDialogs/lunasvg/plutovg/examples/Makefile
/include/FileDialogs/lunasvg/plutovg/examples/smiley
/src/Data/filedialogs
