################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Magma Engine v7/FileContentIndex
/.vs/Magma Engine v7/v17
